.text-wrap {
    white-space: normal;
}

.rt-resizable-header {
    background-color: #3c54b4;
    color: white;
    font-weight: 700;
    font-size: 1.1em;
}

div.rt-tr {
    align-items: center;
    border-bottom: 1px solid darkgrey;
    text-align: center;
}

#drag-container {
    height: 1000px;
}

div.rt-tr:hover {
    cursor: pointer;
}
